{% extends "header.html" %}
{% block content %}
    <div class="d-flex flex-column w-100 h-100 align-items-center g-05 pt-2">
        {% if user.is_authenticated %}
            <h4>ห้อง {{ room }} ({{ shares }}/50)</h4>
            <p>*จำกัดหุ้นอยู่ที่ห้องละ 50 หุ้น</p>
            <div class="card d-flex flex-column align-items-center">
                <div class="card-header w-100 p-3">
                    <h5>รอบ: {{ round.date }}</h5>
                </div>
                <div class="card-body d-flex flex-column align-items-center p-5">
                    {% if disabled %}
                        Shares are already met limit (50)
                    {% else %}
                        <form action="{% url 'lotto:confirm_buy_lotto' room %}" method="GET" class="d-flex flex-column align-items-center g-10">
                            {% csrf_token %}
                            {% if errors %}
                                <div class="d-flex flex-column g-05">
                                    {% for error in errors %}
                                        <div class="alert alert-danger m-0">
                                            {{ error }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="d-flex g-10">
                                <input name="fourth" required type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
                                <input name="fifth" required type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
                                <input name="sixth" required type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
                            </div>
                            <div class="d-flex g-10 align-items-center">
                                <h5>จำนวนหุ้น (หุ้นละ 80 บาท):</h5>
                                <input name="share" required type="number" min="1" max="10" placeholder="0" class="lotto h4 card p-2">
                            </div>
                            <button title="submit_form" type="submit" class="btn btn-primary px-4 py-3">ยืนยันคำสั่งซื้อและแจ้งชำระเงิน</button>
                            <div class="d-flex flex-column g-05">
                                <p class="mt-auto">*คุณไม่สามารถแก้ไขหรือซื้อเลขหุ้นเดิมซ้ำได้</p>
                                <p class="mt-auto">*คุณไม่สามารถซื้อหุ้นได้มากกว่า 10 หุ้นในห้องหนึ่ง</p>
                                {% if bought_lottos %}
                                    <p>หุ้นที่คุณได้ซื้อไปแล้ว:</p>
                                    <div class="d-flex flex-row g-05 overflow-scroll text-nowrap" style="width: 335px;">
                                        {% for lotto in bought_lottos %}
                                            <p>{{ lotto }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}