{% extends "header.html" %}
{% block content %}
    <div class="d-flex flex-column w-100 h-100 align-items-center g-10 pt-2">
        {% if errors %}
            {% for error in erros %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
            <div class="card d-flex flex-column align-items-center">
                <div class="card-header w-100 p-3">
                    <h5>สรุปคำสั่งซื้อ</h5>
                </div>
                <div class="card-body d-flex flex-column align-items-center p-5">
                    <form action="{% url 'lotto:confirm_buy_lotto' room %}" method="POST" class="d-flex flex-column align-items-center g-10">
                        {% csrf_token %}
                        <h5 class="w-100">Round: {{ round.date }}</h5>
                        <h5 class="w-100">Room: {{ room }}</h5>
                        <h5 class="w-100">Lotto: {{ lotto }}</h5>
                        <h5 class="w-100">จำนวน: {{ share }}</h5>
                        <h5 class="w-100">รวมเป็นเงินทั้งสิ้น: {{ total }} บาท</h5>
                        <div class="d-flex btn btn-light px-3 py-2">แสร้งว่าชำระเงิน</div>
                        <input type="hidden" name="lotto" placeholder="lotto" value="{{ lotto }}" class="h5 m-0">
                        <input type="hidden" name="share" placeholder="share" value="{{ share }}" class="h5 m-0">
                        <button title="submit_form" type="submit" class="btn btn-primary px-3 py-2">แจ้งชำระเงิน</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}