<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .btn, h1, h2, h3, h4, h5, h6, p {
            margin: 0;
          }
          a {
            text-decoration: none;
            margin: 0;
          }
          .lotto {
            text-align: center;
          }
          .g-10 {
            gap: 1rem;
          }
          .g-05 {
            gap: 0.5rem;
          }
          .header {
            position: sticky;
            top: 0;
            z-index: 1;
          }
    </style>
    {% block head %} {% endblock %}
</head>
<body class="bg-light">
    <div class="header d-flex w-100 p-3 bg-primary align-items-center">
        <a href="{% url 'lotto:main' %}"><h3 class="text-white">Thai Pools Lottery</h3></a>
        <div class="d-flex g-10 mx-auto">
          <a href="{% url 'lotto:stat' %}" class="btn btn-primary"><p class="text-white">ตรวจสถิติ</p></a>
          {% if not user.is_superuser and user.is_authenticated %}
            <a href="{% url 'lotto:rooms' %}" class="btn btn-primary"><p class="text-white">ซื้อลอตเตอรี่</p></a>
          {% endif %}
        </div>
        <div class="d-flex g-05 align-items-center">
          {% if user.is_authenticated %}
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hello, {{ user.username }}
              </button>
              <ul class="dropdown-menu">
                <li><a href="{% url 'lotto:slips' %}" class="dropdown-item">slips</a></li>
                <li><a href="{% url 'lotto:transactions' %}" class="dropdown-item">คำสั่งซื้อ</a></li>
                <li><a href="{% url 'logout' %}?next={% url 'lotto:main' %}" class="dropdown-item">logout</a></li>
              </ul>
            </div>
          {% else %}
            <a href="{% url 'lotto:login' %}" class="btn btn-primary"><p class="text-white">เข้าสู่ระบบ/สมัครสมาชิก</p></a>
          {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column align-items-center body-section h-100 p-3">
        {% block content %}
        {% endblock %}
        <h6 class="w-100 mt-5">** การลงทุนมีความเสี่ยง ผู้ลงทุนควรตัดสินใจให้รอบคอบก่อนตัดสินใจลงทุน</h6>
    </div>
</body>
</html>