{% extends "header.html" %}
{% block content %}

  <div class="d-flex flex-column w-100 h-100 align-items-center g-10 pt-2">
    <div class="d-flex flex-column align-items-center">
      <h1 class="mb-2">💵 ตรวจเลขหวย 💵</h1>
      <p>วิธีใช้: เลือกจำนวนตัวเลขหวย แล้วจึงใส่เลขหวยที่ต้องการค้นหา</p>
      <p>โดยจะได้ผลลัพธ์เป็นจำนวนการปรากฎตัวของเลขหวยจากทั้งหมด 411 งวด*</p>
      <p>สถิติถูกรวบรวมตั้งแต่งวดสุดท้ายของปี 2006 ถึงวันที่ 1 เดือนเมษายน 2024</p>
      <a href="https://github.com/heart/Data-Set-Thai-Lotto/blob/master/lotto.csv" target="_blank">แหล่งที่มา</a>
    </div>

    <!-- Navigation to each mode -->
    <ul class="pagination align-items-center justify-content-center my-2">
      <li class="page-item">
        <a class="page-link" href="{% url 'lotto:stat_mode' 2 %}">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'lotto:stat_mode' 3 %}">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'lotto:stat_mode' 5 %}">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'lotto:stat_mode' 6 %}">6</a>
      </li>
      <li><h5 class="mx-3">ตัว</h5></li>
    </ul>

    <!-- Input Lotto -->
    <form action="{% url 'lotto:stat_mode' mode %}" method="GET" class="d-flex flex-column align-items-center g-10">
      {% csrf_token %}
      <div class="d-flex g-10">
        {% if mode == 6 %}
          <input name="first" required value="{{ first }}" type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
        {% endif %}
        {% if mode >= 5 %}
          <input name="second" required value="{{ second }}" type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
        {% endif %}
        {% if mode >= 4 %}
          <input name="third" required value="{{ third }}" type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
        {% endif %}
        {% if mode >= 3 %}
          <input name="fourth" required value="{{ fourth }}" type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
        {% endif %}
        {% if mode >= 2 %}
          <input name="fifth" required value="{{ fifth }}" type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
          <input name="sixth" required value="{{ sixth }}" type="number" min="0" max="9" placeholder="0" class="lotto h4 card p-2">
        {% endif %}
      </div>
      <button title="submit_form" type="submit" class="btn btn-primary px-3 py-2"><h5>ค้นหา</h5></button>
    </form>

    <!-- Results -->
    <div class="d-flex card p-4 flex-column align-items-center g-05 mt-3">
      <h1>ผลลัพธ์</h1>
      {% if stats %}
        <h4>ปรากฎใน</h4>
        {% for stat in stats %}
          {% if stat.type == "รางวัลเลขหน้า 3 ตัว" %}
            <h5>{{ stat.type }} {{ stat.count }} ครั้ง จาก 205 งวด</h5>
          {% elif stat.type == "รางวัลที่ 2"%}
            <h5>{{ stat.type }} {{ stat.count }} ครั้ง จาก 207 งวด</h5>
          {% else %}
            <h5>{{ stat.type }} {{ stat.count }} ครั้ง จาก 411 งวด</h5>
          {% endif %}
        {% endfor %}
      {% else %}
        {% if sixth %}
          <h5>ไม่เคยปรากฎมาก่อน</h5>
        {% endif %}
      {% endif %}
    </div>
    <p class="mt-auto">*รางวัลเลขหน้า 3 ตัวและรางวัลที่ 2 จะมีจำนวนงวดทั้งหมดน้อยกว่า เนื่องจากเกิดขึ้นที่หลัง</p>
  </div>
{% endblock %}