{% extends "header.html" %}
{% block content %}
    <div class="d-flex flex-column w-100 h-100 align-items-center justify-content-center g-10 pt-2">
        {% if user.is_authenticated %}
            <h4>งวด: {{ round.date }}</h4>
            
            <!-- Rooms -->
            {% if room_lottos %}
                {% for room in room_lottos %}
                    <a class="card w-25" href="{% url 'lotto:room' room.room %}">
                        <div class="card-header">
                            ห้องที่ {{ room.room }}
                        </div>
                        <div class="card-body d-flex flex-column g-05">
                            {% if room.lottos %}
                                <p>เลขที่ถูกซื้อในห้อง:</p>
                                {% for lotto in room.lottos %}
                                    {{ lotto }}
                                {% endfor %}
                            {% else %}
                                <p>ยังไม่มีหุ้นที่ถูกซื้อในห้อง</p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}