{% extends "header.html" %}
{% block content %}
    <div class="d-flex w-100 h-100 align-items-center justify-content-center g-10 pt-2">
        {% if user.is_authenticated %}
            <!-- Rooms -->
            {% if room_lottos %}
                {% for room in room_lottos %}
                    <a class="card" href="{% url 'lotto:buy_lotto' room.room %}">
                        <div class="card-header">
                            Room {{ room.room }}
                        </div>
                        <div class="card-body">
                            {% if room.lottos %}
                                {% for lotto in room.lottos %}
                                    {{ lotto }}
                                {% endfor %}
                            {% else %}
                                <p>No bought lotto in this room yet</p>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}