{% extends "header.html" %}
{% block content %}
{% if errors %}
  {% for error in errors %}
    <p>{{ error }}</p>
  {% endfor %}
{% endif %}
<form method="POST" actione="." id="signup-form" class="d-flex flex-column align-items-center g-10 py-4 px-5 card">
    {% csrf_token %}
    <h3>Signup</h3>
    <div class="form-floating">
        <input required type="text" class="form-control" placeholder="Username" id="username" name="username" maxlength="16" minlength="4">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input required type="email" class="form-control" placeholder="Email" id="email" name="email">
        <label for="email">Email</label>
    </div>
    
    <!-- Bank Number Field -->
    <div class="form-floating mb-3">
        <input required type="text" class="form-control" placeholder="Bank Number" id="banknumber" name="banknumber" maxlength="10" minlength="10">
        <label for="banknumber">Bank Number</label>
    </div>
    
    <!-- Bank Name Field -->
    <div class="form-floating mb-3">
        <select required class="form-control" id="bankname" name="bankname">
            <option value="" disabled selected>Select Bank</option>
            <option value="ธนาคารกรุงเทพ">Bangkok Bank</option>
            <option value="ธนาคารกสิกรไทย">Kasikorn Bank</option>
            <option value="ธนาคารไทยพาณิชย์">Siam Commercial Bank</option>
            <option value="ธนาคารกรุงไทย">Krung Thai Bank</option>
            <option value="ธนาคารทหารไทยธนชาต">TMB Bank</option>
            <option value="ธนาคารออมสิน">Government Savings Bank</option>
            <option value="ยูโอบี ประเทศไทย">UOB Thailand</option>
            <option value="ซิตี้แบงก์ ประเทศไทย">CitiBank Thailand</option>
        </select>
        <label for="bankname">Bank Name</label>
    </div>
    <div class="form-floating">
        <input required type="password" class="form-control" placeholder="Password" id="password1" name="password1">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input required type="password" class="form-control" placeholder="Confirm Password" id="password2" name="password2">
        <label for="password">Confirm Password</label>
    </div>
    <button type="submit" class="btn btn-primary px-4">Signup</button>
    <a href="{% url 'lotto:login' %}">Already have an account?</a>
</form>
{% endblock %}