{% extends "header.html" %}
{% block content %}
{% if errors %}
  {% for error in errors %}
    <p>{{ error }}</p>
  {% endfor %}
{% endif %}
<form method="POST" actione="." id="signup-form" class="d-flex flex-column w-100 align-items-center g-10 p-4">
    {% csrf_token %}
    <div class="form-floating">
        <input required type="text" class="form-control" placeholder="Username" id="username" name="username" maxlength="16" minlength="4">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input required type="email" class="form-control" placeholder="Email" id="email" name="email">
        <label for="email">Email</label>
    </div>
    <div class="form-floating">
        <input required type="password" class="form-control" placeholder="Password" id="password1" name="password1">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input required type="password" class="form-control" placeholder="Confirm Password" id="password2" name="password2">
        <label for="password">Confirm Password</label>
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
    <a href="{% url 'lotto:login' %}">Already have an account?</a>
</form>
{% endblock %}